<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rogome.user.display_name %>
</p>

<p>
  <b>Title:</b>
  <%= @rogome.title %>
</p>

<p>
  <b>Description:</b>
  <%= @rogome.description %>
</p>

<% if session[:user_id] %>
  <%= render "questions/form" %>
<% else %>
  <p>
  Please <%= link_to "log in", "/log_in" %> to post a question.
  </p>
<% end %>
