<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rogome.user.display_name %>
</p>

<p>
  <b>Title:</b>
  <%= @rogome.title %>
</p>

<p>
  <b>Description:</b>
  <%= @rogome.description %>
</p>

<h2>Post a question:</h2>
<% if session[:user_id] %>
  <%= render "questions/form" %>
<% else %>
  <p>
  Please <%= link_to "log in", "/log_in" %> to post a question.
  </p>
<% end %>

<h2>Current questions</h2>
<div id="comments">
  <% @rogome.questions.each do |question| %>
    <% @question = question %>
    <% next if @question.user.blank? %>
    <%= render "questions/question_in_list" %>
  <% end %>
</div>
